<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Today Trade - everyday trading update</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/about.css" />
  <link rel="stylesheet" href="/static/css/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" href="/static/image/LOGO3.png">
  <script src="/static/index.js"></script>
  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function(){
            emailjs.init("cZ3w9f_yJcBTVPwGW");
        })();
    </script>


</head>

<body>


  <!-- NAV BAR CODE -->



  <nav>
    <div class="logo">
      <img src="/static/image/LOGO3.png" alt="..." />
      <h1>Today Trade<br />Academy</h1>
    </div>
    <div class="list">
      <ul>
        <li><a href="/Dashboard">Home</a></li>
        <li><a href="about-us">About Us</a></li>
        <li><a href="contact-us">Contact Us</a></li>
      </ul>
    </div>
  </nav>


  <!-- NAV BAR END -->

  <div class="container-slide">  
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 100%;">
   
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
  
  
      <div class="carousel-inner" >
        <div class="item active" >
          <img src="../static/image/slide4.jpg" alt="Los Angeles" style="width:100%; height: 50vh;">
        </div>
  
        <div class="item">
          <img src="../static/image/slide1.jpg" alt="Chicago" style="width:100%;height: 50vh;">
        </div>
      
        <div class="item">
          <img src="../static/image/slide2.jpg" alt="New york" style="width:100%; height: 50vh;">
        </div>
        <div class="item">
          <img src="../static/image/slide3.jpg" alt="New york" style="width:100%; height: 50vh;">
        </div>
      </div>
  
  
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="about-todaytrade">
      <h1>About Today Trade</h1>
      <p>Today Trade, one of the best Indian stock market educational And leading stock sub-broking companies in India, caters to retail and institutional clients by offering them a range of financial products and services, including equities, derivatives, commodities, currency derivatives, mutual funds, IPOs, insurance, depository services and PMS. At Today Trade we value you as an individual and constantly help you to evolve further – both personally and professionally. We provide you with best environment to work. Our Strong culture, competitive and sustained career growth initiatives to help you build Your portfolio </p>
    </div>

  </div>

  <div class="about-content">
    <h1>Our Market Experts</h1>
    <div class="ab-content">    
      <div class="expert">
      <img src="/static/image/praaveen-removebg.png" alt="">
      <div class="name">
        <p>Praveen Bishnoi</p>
      </div>
      <div class="desc">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquam. Sequi aliquid delectus ipsa minus a est error tempora eius!</p>
      </div>
    </div>
    <div class="expert">
      <img src="/static/image/praaveen-removebg.png" alt="">
      <div class="name">
        <p>Praveen Bishnoi</p>
      </div>
      <div class="desc">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquam. Sequi aliquid delectus ipsa minus a est error tempora eius!</p>
      </div>
    </div>
    <div class="expert">
      <img src="/static/image/praaveen-removebg.png" alt="">
      <div class="name">
        <p>Praveen Bishnoi</p>
      </div>
      <div class="desc">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquam. Sequi aliquid delectus ipsa minus a est error tempora eius!</p>
      </div>
    </div>
  </div>

  </div>

  <div class="about-content">
    <h1>Our Tech Team</h1>
    <div class="ab-content">    
      <div class="expert">
      <img src="/static/image/praaveen-removebg.png" alt="">
      <div class="name">
        <p>Praveen Bishnoi</p>
      </div>
      <div class="desc">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquam. Sequi aliquid delectus ipsa minus a est error tempora eius!</p>
      </div>
    </div>
    <div class="expert">
      <img src="/static/image/praaveen-removebg.png" alt="">
      <div class="name">
        <p>Praveen Bishnoi</p>
      </div>
      <div class="desc">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquam. Sequi aliquid delectus ipsa minus a est error tempora eius!</p>
      </div>
    </div>
    <div class="expert">
      <img src="/static/image/praaveen-removebg.png" alt="">
      <div class="name">
        <p>Praveen Bishnoi</p>
      </div>
      <div class="desc">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquam. Sequi aliquid delectus ipsa minus a est error tempora eius!</p>
      </div>
      
    </div>
    <div class="expert">
      <img src="/static/image/praaveen-removebg.png" alt="">
      <div class="name">
        <p>Praveen Bishnoi</p>
      </div>
      <div class="desc">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquam. Sequi aliquid delectus ipsa minus a est error tempora eius!</p>
      </div>
      
    </div>
    <div class="expert">
      <img src="/static/image/praaveen-removebg.png" alt="">
      <div class="name">
        <p>Praveen Bishnoi</p>
      </div>
      <div class="desc">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquam. Sequi aliquid delectus ipsa minus a est error tempora eius!</p>
      </div>
      
    </div>
    <div class="expert">
      <img src="/static/image/praaveen-removebg.png" alt="">
      <div class="name">
        <p>Praveen Bishnoi</p>
      </div>
      <div class="desc">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquam. Sequi aliquid delectus ipsa minus a est error tempora eius!</p>
      </div>
      
    </div>
  </div>

  </div>



    <!-- FOOTER SECTION START -->
    <div class="footer">
      <div class="bottom-logo">
        <h2>Our Platforms</h2>
        <h1>TODAY TRADE ACADEMY</h1>
      </div>
      <div class="explore">
        <h2>Explore</h2>
        <ul>
          <a href="Dashboard"><li>Home</li></a>
          <a href="about-us"><li>About Us</li></a>
          <a href="contact-us"><li>Contact Us</li></a>
        </ul>
      </div>
      <div class="address">
        <h2>Address</h2>
        <p>
        <img src="/static/image/location.png" alt="loading...">
        <p>Malviya Nagar, Jaipur, Rajasthan 302017</p>
        </p>
      <p><img src="/static/image/telephone-call.png" alt=""><br>+91 9784167490</p>
      <p>+91 9352641216</p>
      <p><img src="/static/image/email.png" alt=""><br>pkboss9729@gmail.com</p>
      <p>narendrago999@gmail.com</p>
      </div>
    </div>
    
    
    
    
    
    
    
    
    <!-- FOOTER SECTION END -->



  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script>
    $('.carousel').carousel({
  interval: 2000
})
  </script>
  
</body>

</html>