<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Today Trade - everyday trading update</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main.css" />
  <link rel="stylesheet" href="/static/css/contactus.css" />
  <link rel="icon" href="/static/image/LOGO3.png">
  <script src="/static/index.js"></script>
  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function(){
            emailjs.init("cZ3w9f_yJcBTVPwGW");
        })();
    </script>


</head>

<body>


  <!-- NAV BAR CODE -->



  <nav>
    <div class="logo">
      <img src="/static/image/LOGO3.png" alt="..." />
      <h1>Today Trade<br />Academy</h1>
    </div>
    <div class="list">
      <ul>
        <li><a href="/">Home</a></li>
        
        <li><a href="about-us">About Us</a></li>
     
        <li><a href="contact-us">Contact Us</a></li>
       
      </ul>
    </div>
  </nav>


  <!-- NAV BAR END -->

<div class="contact">
    <h1>Contact Us</h1>
    <p>(Today Trade)</p>
</div>
<div class="container1">
    <div class="add1">
        <h3>Contact Details</h3>
        <h1>Get In Touch</h1>
        <p>Have any query ?
            Contact us and we will be happy to help you.</p>
            <div class="address1">
                <div class="img1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg></div>
                <div class="content1">
                    <h2>Our Address</h2>
                    <p>Malviya Nagar, Jaipur, Rajasthan 302017
                    </p>
                </div>
            </div>
            <div class="address1">
                <div class="img1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                    <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
                    <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
                  </svg></div>
                <div class="content1">
                    <h2>E-mail</h2>
                    <p>todaytrade.in@gmail.com
                    </p>
                </div>
            </div>
            <div class="address1">
                <div class="img1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                  </svg></div>
                <div class="content1">
                    <h2>Contact</h2>
                    <p>+91-9784167490
                    </p>
                </div>
            </div>
            <div class="address1">
                <div class="img1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stopwatch-fill" viewBox="0 0 16 16">
                    <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z"/>
                  </svg></div>
                <div class="content1">
                    <h2>Available On</h2>
                    <p>Everyday : 10:00 AM - 05:00 PM IST
                    </p>
                </div>
            </div>
    </div>
<div class="form1">
    <form action="">
        <div class="inputs">
            <h1>Ready to Get Started?</h1>
            <div class="boxx">
                <input type="text" placeholder="Your Name" required name="Your Name">
                
            </div>
            <div class="boxx">
    
               
                <input type="email" placeholder="Your email address" required name="Your email address">
            </div>
            <div class="boxx">
    
               
                <input type="number" placeholder="Your Phone number" required name="Your Phone Number">
            </div>
            <div class="boxx">
               
                <input type="email" placeholder="email" required name="Email">
    
            </div>
            <div class="boxx">
               
                <input type="text"  placeholder="Your Query" required name="Your Query">
                
            </div>
            <div class="boxx">
               
                <input type="text"  placeholder="Your City" required name="Your city">
                
            </div>
            <input type="submit" value="Send Message">
        </div>
      </form>
</div>
</div>
    <!-- FOOTER SECTION START -->
    
    <div class="footer">
      <div class="bottom-logo">
        <h2>Our Platforms</h2>
        <h1>TODAY TRADE ACADEMY</h1>
      </div>
      <div class="explore">
        <h2>Explore</h2>
        <ul>
          <a href="/"><li>Home</li></a>
          <a href="about-us"><li>About Us</li></a>
          <a href=""><li>Online Course</li></a>
          <a href=""><li>Resourses</li></a>
          <a href="contact-us"><li>Contact Us</li></a>
        </ul>
      </div>
      <div class="address">
        <h2>Address</h2>
        <p>
        <img src="/static/image/location.png" alt="loading...">
        <p>Malviya Nagar, Jaipur, Rajasthan 302017</p>
        </p>
      <p><img src="/static/image/telephone-call.png" alt=""><br>+91 9784167490</p>
      <p>+91 9352641216</p>
      <p><img src="/static/image/email.png" alt=""><br>pkboss9729@gmail.com</p>
      <p>narendrago999@gmail.com</p>
      </div>
    </div>
    
    
    
    
    
    <!-- FOOTER SECTION END -->



  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>