<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Today Trade - everyday trading update</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main.css" />
  <link rel="icon" href="/static/image/LOGO3.png">
  <script src="/static/index.js"></script>
  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function(){
            emailjs.init("cZ3w9f_yJcBTVPwGW");
        })();
    </script>
    <style>
      
.hidden{
  position: absolute;
  right: 0;
  background-color:  rgba(33, 31, 31, 0.658);
  top: 81;
  width: 25vw;
  height: 47vh;

  display: none;

}
.hidden ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hidden ul li{
  margin: 0;

  padding: 0px;
  color: white;
  font-size: 18px;
  font-family: 100;
}
.hidden h3{
  display: flex;
  justify-content: space-between;
  color: orange;
  text-align: center;
  padding: 10px;
  font-family: 600;
  border-bottom: 2px solid orange;
}
.hidden h3 button{
  cursor: pointer;
}
.hiddenNotification{
  display: none;
  position: absolute;
  right: 430;
  background-color:  rgba(33, 31, 31, 0.878);
  top: 81;
  width: 25vw;
  height: 56vh;

}
.hiddenNotification ol{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  height: 47vh;
}
.hiddenNotification ol::-webkit-scrollbar{
  width: 10px;
 
}
.hiddenNotification ol::-webkit-scrollbar-thumb{
  background-color: orange;
  border-radius: 30px;
 
}

.hiddenNotification ol p{
  border-bottom: 1px solid blue;
  margin: 20px 0;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 13px;
  color: cornflowerblue;
}
.hiddenNotification h3{
  display: flex;
  justify-content: space-between;
  color: orange;
  text-align: center;
  padding: 10px;
  font-family: 600;
  border-bottom: 2px solid orange;
}
.hiddenNotification h3 button{
  cursor: pointer;
}

    </style>
    
</head>

<body>


  <!-- NAV BAR CODE -->



  <nav>
    <div class="logo">
      <img src="/static/image/LOGO3.png" alt="..." />
      <h1>Today Trade<br />Academy</h1>
    </div>
    <div class="list">
      <ul>
        
       
        <li><a href="Dashboard">Home</a></li>
        <li><a href="about-us">About Us</a></li>
        <li><a href="#">Online Course</a></li>

        <li><a onclick="profileNotification()">Notification</a>
        <div class="hiddenNotification" id="hidenotification">
          <h3>Notification  <button onclick="closesNotification()">Close</button></h3>
          <ol>
            {% for i in notification %}
            <p>{{i.notification}}</p>
            {% endfor %}
          </ol>
            
        </div>
      </li>
        <li><a href="contact-us">Contact Us</a></li>
        
        <li><a href="#" onclick="profile()" >{{i.fname}} {{i.lname}}</a>
        <div class="hidden" id="hide">
          <h3>YOUR PROFILE  <button onclick="closes()">Close</button></h3>
          <ul>
            <li>FullName : {{i.fname}} {{i.lname}}</li>
            <li>Number : {{i.number}}</li>
            <li>Email : {{i.email}}</li>
            <li>Date-of-Birth : {{i.date_of_birth}}</li>
            <li>State : {{i.State}}</li>
            <li>City : {{i.city}}</li>
            
          </ul>
        </div>
        </li>
      
        <li><a href="/logout" target="_blank">Log Out</a></li>
      </ul>
    </div>
  </nav>

<script>
  function profile(){
  var hide = document.getElementById("hide")
  hide.style.display="block";
}
function closes(){
  var hide = document.getElementById("hide")
  hide.style.display="none";
}
  function profileNotification(){
  var hide = document.getElementById("hidenotification")
  hide.style.display="block";
}
function closesNotification(){
  var hide = document.getElementById("hidenotification")
  hide.style.display="none";
}
</script>



  <!-- NAV BAR END -->


  <!-- VIDEO START -->


  <div class="main-container">
    <video loop="infinite" autoplay="autoplay" muted src="/static/video/1.mp4"></video>
    <div class="content">
      <div class="box" data-aos="fade-up-right">
        <h1>Learn and earn with Today Trade.</h1>
        <p>
          Learning how to trade the financial markets begins with educating
          oneself on reading the financial markets via charts
          and price action.
        </p>
        <button>Enroll Now</button>
        <button>
          <a href="https://itrade.angelbroking.com/DiyKyc/SubbrokerLead?SbTag=QUhOSw==&SourceType=B2B "
            target="_blank">Open Demat Account</a>
        </button>
      </div>
    </div>
  </div>

  <!-- VIDEO END -->



  
  <div class="journey">
    <video loop="infinite" autoplay="autoplay" muted src="/static/video/paisa hi paisa.mp4"></video>
    <h2>Start Journey with Today Trade.</h2>
    <div class="boxs">
      <a href="explore">
        <div class="box1">
          <img src="/static/image/explore.png" alt="">
          <h1>EXPLORE</h1>
        </div>
      </a>
      <a href="service">
        <div class="box1">
          <img src="/static/image/services.png" alt="">
          <h1>SERVICES</h1>
        </div>
      </a>
      <a href="courses">
        <div class="box1">
          <img src="/static/image/courses.png" alt="">
          <h1>FREEBIES</h1>
        </div>
      </a>
    </div>

  </div>



  <!-- FEATURS START -->


  <div class="reason">
    <h2>Our Features</h2>
    <div class="features">
      <div class="feature">
        <img src="/static/image/Smart trading.png" alt="">
        <h3>Smart Trading</h3>
        <p>You can be rich by stock trading or day trading, we pick the right strategy that helps you stay profitable
          in the long run.</p>
      </div>
      <div class="feature">
        <img src="/static/image/Minimum Risk.png" alt="">
        <h3>Minimum Risk/Reward Ratio</h3>
        <p>Our primary goal is higher returns, that's why the risk/reward ratio we use to manage capital
          and risk of loss.</p>
      </div>
      <div class="feature">
        <img src="/static/image/expert advice.png" alt="">
        <h3>Expert Advice</h3>
        <p>Direct discussion with our Research team and market analysis for smart investment decisions
          and Intraday Tips.</p>
      </div>
      <div class="feature">
        <img src="/static/image/research.png" alt="">
        <h3>Extensive Reasearch</h3>
        <p>Our extensive Stock research helps investors evaluate a stock's strengths, weaknesses and growth prospects.
        </p>
      </div>
      <div class="feature">
        <img src="/static/image/profit.png" alt="">
        <h3>Minimum Risk, More Profit</h3>
        <p>Investing with today trade is about minimizing risk to generate wealth over the long term, not generating
          short-term profits.</p>
      </div>
      <div class="feature">
        <img src="/static/image/customer support.png" alt="">
        <h3>Customer Support</h3>
        <p>Our dedicated customer support team helps you with all you queries related to market investment & Trades.</p>
      </div>
      <div class="feature">
        <img src="/static/image/value.png" alt="">
        <h3>Value</h3>
        <p>We cut through the noise and offer valuable, straightforward courses so that you can take command of
          your own trading.</p>
      </div>
      <div class="feature">
        <img src="/static/image/simplicity.png" alt="">
        <h3>Simplicity</h3>
        <p>We eliminate all unnecessary trading theory and teach a simple charting approach and show you how to
          find healthy shares.</p>
      </div>
      <div class="feature">
        <img src="/static/image/lifestyle.png" alt="">
        <h3>Lifestyle</h3>
        <p>Our courses teach a structured system and focus on establishing a trading routine that you can adapt to
          suit your lifestyle.</p>
      </div>
    </div>




    <!-- FEATURES END -->

    <!-- REASON TO CHOOSE US START -->


    <div class="reason">
      <h2>Reason To Choose Us !</h2>
      <ul>
        <ol>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i> High Accuracy Rate > 80% </li>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i>2-3 Calls on Intraday Basis.</li>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i>Best Stock Tips & Stock Recommendation.</li>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i>Top Professional Expert Advisor.</li>
        </ol>
        <ol>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i>3+ Years of Experience.</li>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i>Provide BankNifty & Nifty Calls.</li>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i>Complete Resistance Support on Daily Basis.</li>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i>Portfolio Stocks Suggestion.</li>
        </ol>
        <ol>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i>All Improtant News and Economy Updates.</li>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i>Provide Study Materials.</li>
          <li><i><img src="/static/image/check-mark.png" alt=""></i>Will follow up a Trade Plan according to your Capital,
            Risk & Targets.</li>
          <li> <i><img src="/static/image/check-mark.png" alt=""></i>24x7 Support and Consultancy Available from our Team.
          </li>
        </ol>
      </ul>
    </div>
    <!-- REASON TO CHOOSE US END -->

    <!-- OUR ACHIEVEMENT START -->

    <div class="reason">
      <h2>Our Achievements <img src="/static/image/achieve.png" alt="">
      </h2>
      <div class="achievement-main">
        <div class="achievement">
          <div class="circle">3000+</div>
          <p>Customers</p>
        </div>
        <div class="achievement">
          <div class="circle">10+</div>
          <p>Market Research Experts</p>
        </div>
        <div class="achievement">
          <div class="circle">80%</div>
          <p>Customer Satisfaction</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- OUR ACHIEVEMENT END -->
  
  <!-- CONTACT FORM START -->
  
  <div class="reason">
    <h2>Fill Out The Form To Know More !</h2>
    <div class="form">
      <input type="text" id="fullName" placeholder="Full Name" required>
      <input type="email" id="email_id" placeholder="Email" required>
      <input type="number" id="number" placeholder="Phone" required>
      <textarea placeholder="Type Your Question"id="message" cols="1" rows="5"></textarea>
      <button onclick="sendMail()">Send</button>
    </div>
    </div>
  
    <!-- CONTACT FORM END -->
 

    <!-- FOOTER SECTION START -->
    
    <div class="footer">
      <div class="bottom-logo">
        <h2>Our Platforms</h2>
        <h1>TODAY TRADE ACADEMY</h1>
      </div>
      <div class="explore">
        <h2>Explore</h2>
        <ul>
          <a href="/profile"><li>Home</li></a>
          <a href="about-us"><li>About Us</li></a>
          <a href=""><li>Online Course</li></a>
          <a href="contact-us"><li>Contact Us</li></a>
        </ul>
      </div>
      <div class="address">
        <h2>Address</h2>
        <p>
        <img src="/static/image/location.png" alt="loading...">
        <p>Malviya Nagar, Jaipur, Rajasthan 302017</p>
        </p>
      <p><img src="/static/image/telephone-call.png" alt=""><br>+91 9784167490</p>
      <p>+91 9352641216</p>
      <p><img src="/static/image/email.png" alt=""><br>pkboss9729@gmail.com</p>
      <p>narendrago999@gmail.com</p>
      </div>
    </div>
    
    
    
    
    
    <!-- FOOTER SECTION END -->



  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>