<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider</title>
    <style>
        .image{
            display: flex;
            width: 29.5vw;
           
            transition: 4s ease;
        }
        #radio1:checked~.slide{
            margin-left: 0;
        }
        #radio2:checked~.slide{
            margin-left: -20%;
        }
        #radio3:checked~.slide{
            margin-left: -40%;
        }
        #radio4:checked~.slide{
            margin-left: -60%;
        }
    </style>
</head>
<body>
    <div class="content">
    <div class="radio">
        <input type="radio" name="" id="radio1">
        <input type="radio" name="" id="radio2">
        <input type="radio" name="" id="radio3">
        <input type="radio" name="" id="radio4">
    
    <div class="image slide">
     tb   <img src="../static/image/contact bg.jpg" alt="">
    </div>
     
    <div class="image">
        <img src="../static/image/contact bg1.jpg" alt="">
    </div>



    
     
    <div class="image">
        <img src="../static/image/slide2.avif" alt="">
    </div>
        
    <div class="image">
        <img src="../static/image/contact bg1.jpg" alt="">
    </div>
    </div>
    </div>
</div>
</body>
</html>